<p><strong>Support for:</strong> <%= @background.project %></p>
<p><strong>Genre:</strong> <%= @background.genre %></p>
<p><strong>Document Type:</strong> <%= @background.support_type %></p>
<p><strong>File Location:</strong> <%= @background.file_location %></p>