<p><strong>Support for:</strong> <%= link_to @background.project.name, project_path(@background.project) %></p>
<p><strong>Genre:</strong> <%= @background.project.genre.name %></p>
<p><strong>Document Type:</strong> <%= @background.support_type %></p>
<p><strong>File Location:</strong> <%= @background.file_location %></p>