<h1>About the Workshop</h1>

<p>In theory this is an about page but I am exhausted and got nothing. Welcome to the Workshop, a framework in my mind for meditative, self-organization purposes that now exists in some form or another in HTML because I never grew out of that dive for the computer lab during lunch and spend the hour nerding and forgetting to eat phase.</p>